
<%= form_with(model: [book, word]) do |f| %>
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2 mb-2 mt-2">
            <%= f.label :名称, for: "名称", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.text_field :name, type: "text", id: "name", placeholder: "单词名",
              class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
               dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
          </div>
          <div class="sm:col-span-2 mb-2 mt-2">
            <%= f.label :发音, for: "发音", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %> 
            <%= f.text_field :pronunciation, type: "text", id: "pronunciation", placeholder: "发音",
              class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
               dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
          </div>
          <div class="sm:col-span-2 mb-2 mt-2">
            <%= f.label :例子, for: "例子", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.rich_text_area :example_sentence, id: "example_sentence",
            class:"block p-2.5 w-full text-sm
                   text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
          </div>
          <div class="sm:col-span-2 mb-2 mt-2">
            <%= f.label :定义, for: "定义", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.rich_text_area :definition, id: "definition",
            class:"block p-2.5 w-full text-sm
                   text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
          </div>
        </div>
  </div>
   <div class="flex justify-center">
      <button type="button" data-modal-hide="word-modal"
      class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white 
      bg-default-700  bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700
      rounded-lg hover:bg-gradient-to-br mr-2 mb-2">
        <%= link_to "取消", book_path(book), data: { turbo: false } %>
      </button>
      <button type="submit"  data-modal-hide="word-modal"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800 mr-2 mb-2"
      >
          <%= f.submit "确定", data: { turbo: false } %>
      </button>
    </div>
<% end %>

