<%= turbo_stream_from @book %>
<%= render 'books/header', book: @book %>
<%= link_to root_path, class: "opacity-90 hover:opacity-100" do %>
  <span class="font-bold text-red-500">单词本</span>
  <hr class="my-4">
<% end %>
<div class="flex py-4 justify-items-start">
  <div class="flex flex-col justify-center">
    <div class="flex flex-row items-center">
      <h2 class="text-header-3"><%= @book.name %></h2>
    </div>
  </div>
</div>
<%= render "words/add_word_button", book: @book %>
<%= render "words/search_form", search: @q, book: @book %>
<%= render "words/words", book: @book, words: @words %>
