<%= search_form_for search, url: book_path(book) do |f| %>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.search_field :name_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div>
      <%= f.label :definition, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.search_field :definition_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div>
      <%= f.label :status, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :status_eq, options_for_select(Word.statuses.keys), include_blank: 'All', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="block">
      <%= f.submit "search" %>
    </div>
  </div>
<% end %>
