<!DOCTYPE html>
<html>
  <head>
    <title>Words</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navbar' %>
      <div id="flash" class="fixed top-20 left-[50%] translate-x-2/4 flex flex-col items-center gap-2 max-w-full py-0 px-4">
        <%= render 'layouts/flash' %>
      </div>
    </header>
    <main>
      <blockquote class="p-4 text-xl italic font-semibold text-left text-gray-900 dark:text-white mt-28">
        <div id="modalEl" data-controller="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"  tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
          <%= turbo_frame_tag "modal" %>
        </div>
        <%= yield %>
      </blockquote>
    </main>
  </body>
</html>
